.bubble{
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  width:100px;
  height:100px;
  border-radius:50%;
  font-size:14px;
  color:#fff;
  line-height:100px;
  text-align:center;
  background:#000

}
.bubble:hover, .bubble:focus, .bubble:active {
  transform: scale(1.1);
}
.imgbubble:hover, .imgbubblefocus, .imgbubble:active {
	transform: scale(1.1);
}
.imgbubble{
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
}
